h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}
  
h3 {
    color: brown;
    text-align: left;
    padding: 10px;
}

td, th {
border: 1px solid #ddd;
padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #04AA6D;
color: white;
}