{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Local flight tracker {% endblock %}</h1>

<p>Here are some flights over your area right now:</p>

<div id="location_text">
<p>Latitude, longitude (determined by your IP -- not as accurate): </p>
{{ location }}
</div>

<p>Map:</p>

<div id="map" style="height: 400px"></div>

<p>Flights:</p>

<div id="flight_table">{{ table | safe }}</div>

<p>Column keys</p> 

{{ column_keys | safe }}

<script>

    function initMap() {
        var pos = {},
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 6
            }),
            infoWindow = new google.maps.InfoWindow({map: map});
    
        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
            pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };
    
            infoWindow.setPosition(pos);
            infoWindow.setContent('You are here');
            map.setCenter(pos);
            //This is the JS route... however it seems to lead to CORS issues
            //display_flights(pos);

            //So instead, here we send the position back to the server, and have
            //it figure out a more accurate set of flights... Not the most efficient
            //but oh well. It's only a hobby project.
            $.ajax({
                type: "GET",
                url: "{{ url_for('flights')}}",
                data: pos,
                success: function(response) {
                                $("#flight_table").html(response);
                            },
                failure: function(xhr) {
                                $("#flight_table").html("Couldn't get flights from OpenSky");
                            }
            });
            //Also replace location text:
            let container = document.getElementById("location_text");
            container.innerHTML = "<p>Latitude, longitude (determined by your browser):</p>(" + 
                                 pos['lat'] + ',' + pos['lng'] + ')'; 

    
            }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }
    
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
        'Error: The Geolocation service failed.' :
        'Error: Your browser doesn\'t support geolocation.');
    }
    
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBr8V0XkaNFYkNXcP6eJc76b6YutvizwNw&callback=initMap">
    </script>

{% endblock %}

<!--
    Our JS attempt. Foiled by CORS error from OpenSky API? Should be able to get this to work...
    const get_flights = async (pos) => {

        const pm = 1;
        const lat = pos['lat'];
        const long = pos['lng'];
        console.log(pos);
        console.log(lat, long)
        params = {
            'lamin': lat-pm,
            'lomin': long-pm,
            'lamax': lat+pm,
            'lomax': long+pm
            }

        const response = await fetch('https://opensky-network.org/api/states/all', {
            method: 'POST',
            mode:'no-cors',
            body: JSON.stringify(params), // string or object
            headers: {
                'Content-Type': 'application/json',
                'Access-Control-Allow-Origin': '*'
            },
            credentials: "same-origin"
        });
        const myJson = await response.json(); //extract JSON from the http response
        // do something with myJson
        consolve.log(myJson);
        return(myJson);
    }

    async function display_flights(pos) {

        let html = "This works...";
        let flights = get_flights(pos);
        let container = document.querySelector(".flight_table");
        container.innerHTML = flights; 

    }


-->